{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Star Wars</title>
    
    <!-- core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  (703)927-2616</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="https://www.facebook.com/jake.pierce.184"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/jake_pierce92"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/jakepierce3"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="https://instagram.com/jake.pierce"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://github.com/JakePierce"><i class="fa fa-github"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo_small_5.png' %}" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/home_view/">Home</a></li>
                        <li><a href="/universe_view/">Universe</a></li>
                        <li><a href="/forceawakens_view/">The Force Awakens</a></li>
                        <li><a href="/games_view/">Games</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Database <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/film_list/">Films</a></li>
                                <li><a href="/people_list/">People</a></li>
                                <li><a href="/starship_list/">Starships</a></li>
                                <li><a href="/planet_list/">Homeworlds</a></li>
                                <li><a href="/vehicle_list/">Vehicles</a></li>
                                <li><a href="/species_list/">Species</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Community</a></li> 
                        <li><a href="contact-us.html">Contact</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url({%static 'images/slider/universe.jpeg' %})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="{% static 'animation animated-item-1' %}"><span style="color: #FFFFFF ;">Welcome Star Wars fans!</span></h1>
                                    <h2 class="{% static 'animation animated-item-2' %}"><span style="color: #FFFFFF ;">In a galaxy far, far away...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{% static 'images/slider/original_starwars.jpeg' %}" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({%static 'images/slider/universe.jpeg' %})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"><span style="color: #FFFFFF;">Play Games</h1>
                                    <h2 class="animation animated-item-2"><span style="color: #FFFFFF ;">Escape the Empire (your workplace) and enjoy our new games!</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{% static 'images/slider/han_and_chewy.jpeg' %}" class="img-responsive">
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({%static 'images/slider/universe.jpeg' %})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"><span style="color: #FFFFFF ;">Join Us</h1>
                                    <h2 class="animation animated-item-2"><span style="color: #FFFFFF ;">Become a member of our growing community!</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="{% static 'images/slider/join_darth.jpeg' %}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->
    {% block body %}
    {% endblock %}
    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Features</h2>
                <p class="lead">This website contains trivia, details, games,photos and more!<br>Click below to discover more about the Universe of Star Wars.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>Games</h2>
                            <h3>An updated Game Application will be coming soon to the website!</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>Community</h2>
                            <h3>Log in and talk to other Star Wars fans!</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>Movies</h2>
                            <h3>This website contains all the Star Wars you know and love to download.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2>The Universe</h2>
                            <h3>Explore the details of your favorite characters and planets.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Trivia</h2>
                            <h3>An updated Trivia Application will be coming soon to the website!</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Contact</h2>
                            <h3>Feel free to contact me, follow and like my media pages!</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>The Legendary Saga</h2>
                <p class="lead">Star Wars is the greatest pop-culture phenom of all time,<br>here are some of the epic moments of the epic saga. </p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/luke_han_leia.jpeg' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Episode 4</a> </h3>
                                <p>Luke, Han, and Leia traverse the evil Death Star to escape Darth Vader.</p>
                                <a class="preview" href="{% static 'images/portfolio/full/luke_han_leia.jpeg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/hoth_fighter.jpeg' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Episode 5</a></h3>
                                <p>On the battle of the cold planet Hoth, rebellion fighters attempt to push back the Empire's forces.</p>
                                <a class="preview" href="{% static 'images/portfolio/full/hoth_fighter.jpeg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/Vader_I_am_your_father.jpeg' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Episode 5 </a></h3>
                                <p>Darth Vader reveals that he is Luke's real father after promptly chopping his hand off.</p>
                                <a class="preview" href="{% static 'images/portfolio/full/Vader_I_am_your_father.jpeg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/the_force_awakens.jpeg' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Episode 7 </a></h3>
                                <p>A scene from the trailer for "The Force Awakens", released on Dec. 18</p>
                                <a class="preview" href="{% static 'images/portfolio/full/the_force_awakens.jpeg' %}" rel="prettyPhoto' %}"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/starwars_poster.jpg' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">The Timeline</a></h3>
                                <p>A visual timeline of the Star Wars Universe.</p>
                                <a class="preview" href="{% static 'images/portfolio/full/starwars_poster.jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/a-wing.jpeg' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Episode 4 </a></h3>
                                <p>A-wing fighters get into position to take on the first Death Star.</p>
                                <a class="preview" href="{% static 'images/portfolio/full/a-wing.jpeg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/force_awakens_poster.jpg' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">The Force Awakens</a></h3>
                                <p>A brand new look at the Force Awakens.</p>
                                <a class="preview" href="{% static 'images/portfolio/full/force_awakens_poster.jpg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{% static 'images/portfolio/recent/family_guy.jpeg' %}" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Family Guy </a></h3>
                                <p>Okay, so this isn't Star Wars, it's Family Guy.</p>
                                <a class="preview" href="{% static 'images/portfolio/full/family_guy.jpeg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->


    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 wow fadeInDown">
                   <div class="tab-wrap"> 
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">About Me</a></li>
                                    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Why Did You Make This?</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Your Background</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">What To Expect</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="{% static 'images/linkedin_me.jpg' %}">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Jake Pierce</h2>
                                                 <p>I'm an aspiring tech-geek/nerd that loves Star Wars.  I graduated Magna Cum Laude with an Economics degree from Hampden-Sydney College.
                                                 I also love playing sports and aesthetics.  I've help co-found an athletic start-up company in Northern Virginia named Epic Athletic Center, check it out!</p>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="{% static 'images/darth_vader.jpeg' %}">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Why Not?</h2>
                                                 <p>There are loads of things I love to do for fun, but this project was a personal project of mine that I had thought about doing for some time. I hope you guys enjoy it!
                                                 </p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab3">
                                        <p>I have a background in database creation and API functionality as well as knowledge of agile project management.  I thrive in cohesive, productive and creative work flow environments both on a large and small scale.  I have applicable knowledge and usage of Python, Javascript, jQuery, mySQL, Django and other back-end tools as well as front-end languages like HTML, CSS, and Bootstrap.  I have developed a few projects on my own that make use of JSON and CSV files to create multi-platform and widely encompassing databases that are user-friendly.
</p>
                                     </div>
                                     
                                     <div class="tab-pane fade" id="tab4">
                                        <p>I have a few more awesome ideas that are coming soon! Be sure to bookmark or favorite my Portfolio to be up to date!</p>
                                     </div>
                                </div> <!--/.tab-content-->  
                            </div> <!--/.media-body--> 
                        </div> <!--/.media-->     
                    </div><!--/.tab-wrap-->               
                </div><!--/.col-sm-6-->

                <div class="col-xs-12 col-sm-4 wow fadeInDown">
                    <div class="testimonial">
                        <h2>More About Jake</h2>
                         <div class="media testimonial-inner">
                            <div class="pull-left">
                            </div>
                            <div class="media-body">
                                <p>I also have a background in leadership and finance.  I've created the infrastructure for the start-up Epic Athletic Center, which includes a Business Plan, their name, brand, logo, marketing initiatives,price poitns, client contracts, advertising campaigns, and social media.  I am actively looking for new projects and am hungry for more!</p>
                                <span><a href="http://www.epicathleticcenter.net">Epic Athletic Center</a></span>
                            </div>
                         </div>

                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Database</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
</body>
</html>
